#content{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 25px 10%;
}

#header{
  font-family: "Bebas Neue", sans-serif;
  font-size: 35px;
}

#overview{
  font-family: "Bebas Neue", sans-serif;
  font-size: 30px;
  padding: 0 41px;
}

h1, #overview p {
  margin: 10px;
}
#overview p{
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
}

#events-backdrop{
  background-image: url("../images/Events/brain.png"), url("../images/Events/body.jpg");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center center;
  width: 100%;
  height: 100vh;
  margin: 20px 0;
  position: relative;
}

#events-backdrop img{
  width: 100%;
}

.hot-spot{
  width: 20px;
  height: 20px;
  background-color: #abe1fd;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  opacity: 0.7;
  transition: .3s all;
}
.hot-spot::after{
  content: '';
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #abe1fd;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  opacity: 0;
  transition: .3s all;
}
.hot-spot:hover{
  cursor: pointer;
  opacity: 1;
}
.hot-spot:hover::after{
  width: 30px;
  height: 30px;
  opacity: 1;
}

/*hotspot locations*/
.alzheimers{
  top: 7%;
  left: 50%;
  transform: translate(-75%, -50%);
}
.cholesterol{
  top: 45.2%;
  left: 50%;
  transform: translate(-10%, -50%);
}
.dental-hygiene{
  top: 26.5%;
  left: 50%;
  transform: translate(-88%, -50%);
}
.diabetes{
  top: 71.7%;
  left: 50%;
  transform: translate(-100%, -50%);
}
.high-bp{
  top: 55%;
  left: 50%;
  transform: translate(0, -50%);
}
.meningitis{
  top: 8%;
  left: 50%;
  transform: translate(220%, -50%);
}
.pancreatitis {
  top: 70%;
  left: 50%;
  transform: translate(230%, -25%);
}
.pneumonia{
  top: 50%;
  left: 50%;
  transform: translate(-450%, -50%);
}

/* .speech-bubble{
  content: attr(text);
  position: absolute;
  width: max-content;
  height: 50px;
  background-color: white;
  border-radius: 4px;
  text-align: center;
  display: none; 
  z-index: -1;
}
.speech-bubble::after{
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #ffffff;
  border-width: 10px;
  margin-left: -10px;
}  */

.hot-spot::before{
  content: attr(text);
  width: 100px;
  position: absolute;
  background-color: rgb(3, 25,38);
  color: white;
  left: 50%;
  transform: translate(-50%);
  top: 30px;
  padding: 8px 5px;
  font-size: 14px;
  border-radius: 5px;
  /* opacity: 0; */
  display: none;
  /* transition: all 2s; */
  z-index: 999;
}
.speech-bubble::after{
  content: "";
  border-color: transparent transparent rgb(3, 25,38);
  border-width: 0 8px 6px;
  border-style: solid;
  position: absolute;
  top: 24px;
  left: 50%;
  transform: translate(-50%);
  /* opacity: 0; */
  display: none;
}
.hot-spot:hover::before,
.hot-spot:hover .speech-bubble::after{
  /* opacity: 1; */
  display: block;

}