#main {
  box-shadow: 10px 0 5px -2px rgba(0, 0, 0, 0.3);
}

div#navbar {
  position: -webkit-sticky;
  margin-bottom:-91px;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: rgba(3, 25, 38, 0.3);
  transition: background-color 0.4s;
  color: white;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 999;
  font-family: "Bebas Neue", sans-serif;
}

#navbar.solid {
  background-color: rgba(3, 25, 38);
}

#logo{
  margin: 0px;
  width: 100px;
  display: flex;
  position: relative;
  top: 2px;
}
#main-logo a{
  transition: color 0.1s ease-in;
}
#main-logo a:hover{
  color: #abe1fd;
}

#main-logo {
  margin: 0 auto;
  font-size: 50px;
  position: relative;
  display: inline-block;
  padding-right: 75px;
  /* margin: 0;
  margin-right: auto;
  font-size: 50px;
  position: relative;
  display: inline-block; */
  /* top: 5px; */
}

#jumbotron {
  background-image: url("../images/placeholder.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner {
  color: white;
  font-family: "Bebas Neue", sans-serif;
  font-size: 30px;
}

.banner:nth-child(2) {
  font-size: 40px;
}

#content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 15%;
}

#mission-statement-header {
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  font-size: 60px;
}

.quote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  padding: 20px 20px;
  font-family: "Merriweather", "Times New Roman", Times, serif;
  quotes: "\201C""\201D""\2018""\2019";
}

.quote p {
  display: inline;
  font-size: 20px;
}

.mission-statement-paragraph {
  margin: 10px;
  text-align: center;
  font-size: 20px;
  line-height: 2;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  text-indent: 8%;
}

img {
  max-width: 100%;
  max-height: 500px;
  margin: 50px 0;
}

#three-pillars-para {
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  font-size: 50px;
}

#three-pillars {
  display: flex;
  margin: 0 120px;
}

.pillar {
  /* background-color: red; */
  /* border: 1px solid black; */
  height: 500px;
  flex: 1;
  margin: 25px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pillar-title {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
}

.pillar-image {
  border-radius: 50%;
  margin: 0;
}

.pillar-text {
  text-align: center;
  padding: 0 15px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

@media (max-width: 800px) {
  #content {
    padding: 2px 10px;
  }

  .banner{
    font-size: 25px;
  }
  .banner:nth-child(2) {
    font-size: 30px;
  }

  #mission-statement-header {
    font-size: 50px;
  }

  .quote {
    font-size: 10px;
  }

  .mission-statement-paragraph {
    text-align: justify;
    text-indent: 5%;
  }

  #main-logo {
    font-size: 33px;
    top: 4px;
  }

  .quote {
    padding: 10px;
  }

  .quote p {
    font-size: 17px;
  }
}
