*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: none;
  font-family: "Open Sans", sans-serif;
}

#main {
  box-shadow: -10px 0px 10px 1px rgba(0, 0, 0, 0.2);
  background-color: #263859;
}

#menu {
  background-color: #ff6768;
}

#menu-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 10px 10px 0;
}

#links {
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

#links li {
  margin: 10px;
  padding: 2px;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-size: 25px;
  display: inline-block;
}

.nav-link::after {
  width: 0;
  height: 2px;
  content: "";
  background-color: white;
  display: block;
  transition: width 0.2s;
}

.nav-link:hover::after {
  width: 100%;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  background-color: white;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: white;
}

#logo-wrapper {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
}

#logo-image {
  object-fit: cover;
  position: relative;
  height: 100%;
  width: 100%;
  transform: rotate(6deg);
}
