
#content {
  display: flex;
  flex-direction: column;
  justify-content: space-aroun;
  width: 100%;
  height: inherit;
  padding: 10px;
  /* margin-bottom: 30px; */
}
#header{
  padding-bottom: 10px;
}
#header h1{
  /* box-shadow: 0 2px 10px rgba(0,0,0,0.1); */
  position: relative;
  font-family: "Bebas Neue", sans-serif;;
  text-align: center;
  align-items: center;
  margin: 25px auto 25px auto;
  color: rgba(3, 25, 38);
  width: 350px;
  padding: 0px 10px 0px 10px;
  font-size: 60px;
  background-color: #FFA540b9;
  /* background-color: #FFA540b9; */
  /* border-radius: 10px; */
  /* text-decoration: underline dashed #FDAAAF;  */
}

.row {
  display: flex;
  position: relative;
  justify-content: space-around;
  flex-wrap: wrap;
}
/* .row:nth-child(5){
  justify-content: space-evenly;
} */

.container{
  position: relative;
  width: 163px;
  height: 230px;
  transition: 0.3s ease-out;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  background-color: #abe1fd;
  /* margin: 40px 5px 0px 5px; */
  margin: 0px 5px 40px 5px;
}

.imgbox{
  position: relative;
  height: 100%;
  width: 100%;
  top: 0; left: 0;
}

.portrait{
  width: 163px;
  height: 200px;
  transition: 0.5s;
}

.caption{
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all 0.5s cubic-bezier(.48,-0.28,0.41, 1.4);
  /* background-color: rgb(0,0,0, 0.45); */
  background: #abe1fd;
  text-align: center;
  width: 100%;
  height: 30px;
  padding-top: 0;
  overflow: hidden;
  box-sizing: border-box;
  color:#031926;
  font-weight: 700;
}

.name{
  font-family:"Open Sans", sans-serif;
  font-size: 14px;
  margin: 7px 0 3px 0;
  font-weight: 700;
}

.role{
  font-family: "Open Sans", sans-serif;
  font-size: 11.4px;
  text-align: center;
  margin: 0;
  opacity: 0;
  transition: 0.5s;
}

.container:hover .caption{
  height: 50px;
}
.container:hover .bigCap{
  height: 67px;
}
.container:hover .role{
  opacity: 1;
}
.container:hover{
  box-shadow: 0 0 1.2em rgba(0,0,0,0.4);
}

#volunteers{
  /* display: flex;
  align-items: center;
  flex-direction: column; */
  text-align: center;  
  padding-bottom: 5%;
}

#list-title{
  font-family: "Bebas Neue", sans-serif;
  font-size: 50px;
  margin-bottom: 20px;
}

#names{
  font-family: "Bebas Neue", sans-serif;
  font-size: 30px;
  text-align: center;
  line-height: 1.4em;
}

/* @media (max-width: 700px) {
  #content {
    display: block;
  }

  .row {
    display: block;
  }

  .imgbox, .container, .portrait {
    display: block;
    margin: 30px auto;
  } 
}*/
