
#main{
  background-color: #abe1fd;  
}
#content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  background-color: #abe1fd;
  padding-bottom: 50px;
}
.role-title {
  font-size: 50px;
  /* font-size: 3.5vw; */
  color: rgba(3, 25, 38);
  font-family: "Bebas Neue", sans-serif;
  /* box-shadow: 0 2px 10px rgba(0,0,0,0.1); */
  text-align: center;
  padding: 10px;
  margin: 16px auto;
  /* background-color: #abe1fd; */
  /* box-shadow: 0 0 0.2em rgba(0,0,0,0.3); */
}

.flex-container{
  width: 50%;
  display: flex;
  align-self: center;
}
.flexslider{
  margin: auto;
  margin: 55px auto 20px auto;
  border: 4px solid #abe1fd;
  background: #abe1fd;
}

.img-bio-container{
  display: flex;
  background-color: white;
  padding: 5px 15px;
}

.imgbox{
  margin: 20px 30px;
  width: 50%;
  text-align: center;
  align-items: center;
  display: flex;
  margin-right: -12.5%;
}
.portrait{
  width: 65%;
  margin-left: 12.5%;
}

.bio{
  /* float: right; */
  /* text-align: left; */
  width: 50%;
  padding: 5%;
  flex: 1 1 auto;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-left: 10px solid #ccc;
  background-color: #f9f9f9; */
}

#bio{
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-size: 2.1vw;
  /* border-left: 10px solid #ccc;
  background-color: #f9f9f9; */
}
hr{
  margin: 0;
}

.flex-container{
  width: 60%;
}
.flexslider{
  width: 60%;
}


@media (max-width: 800px) {
  .role-title {
    font-size: 40px;
  }

}
@media (max-width: 400px) {
  .role-title {
    font-size: 30px;
  }

}