#navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: rgba(3, 25, 38);
  color: white;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 999;
  font-family: "Bebas Neue", sans-serif;
}

#menu-button {
  float: right;
  cursor: pointer;
}

#menu-button span {
  display: block;
  width: 25px;
  height: 2px;
  margin: 5.2px 0;
  background-color: white;
}

#logo{
  margin: 0px;
  width: 100px;
  display: flex;
  position: relative;
  top: 2px;
}
#main-logo a{
  transition: color 0.1s ease-in;
}
#main-logo a:hover{
  color: #abe1fd;
}
#main-logo {
  margin: 0 auto;
  font-size: 50px;
  position: relative;
  display: inline-block;
  padding-right: 75px;
  text-align: center;
  /* margin: 0;
  margin-right: auto;
  font-size: 50px;
  position: relative;
  display: inline-block; */
  /* top: 5px; */
}
#main-logo:hover{
  text-shadow: 2px;
}

@media (max-width: 800px) {
  #main-logo {
    font-size: 33px;
    top: 4px;
  }
}
