#navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: rgba(3, 25, 38);
  color: white;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 999;
  font-family: "Bebas Neue", sans-serif;
}

#menu-button {
  float: right;
  cursor: pointer;
}

#menu-button span {
  display: block;
  width: 25px;
  height: 2px;
  margin: 6px 0;
  background-color: white;
}

#main-logo {
  margin: 0;
  margin-right: auto;
  font-size: 50px;
  position: relative;
  display: inline-block;
  top: 5px;
}

@media (max-width: 800px) {
  #main-logo {
    font-size: 33px;
    top: 4px;
  }
}
